@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 100%, 0.25);
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
  }

  @media (prefers-color-scheme: light) {
    ::-webkit-scrollbar {
      background-color: silver;
    }
  }
}

@layer components {
  .stroked {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    color: rgb(177, 177, 177);
    -webkit-font-smoothing: antialiased;
  }
}
